@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

:root {
    --dark-blue: hsl(233, 26%, 24%);
    --lime-green: hsl(136, 65%, 51%);
    --bright-cyan: hsl(192, 70%, 51%);
    --grayish-blue: hsl(233, 8%, 62%);
    --light-grayish-blue: hsl(220, 16%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Public Sans', sans-serif;
    font-size: 18px;
}

p {
    color: var(--grayish-blue);
}

.btn {
    height: 2rem;
    width: 9rem;
    border-radius: 20px;
    border: none;
    background: rgb(156, 235, 65);
    background: linear-gradient(90deg, rgba(156, 235, 65, 1) 30%, rgba(71, 151, 252, 1) 100%);
    color: var(--white);
}

.btn:hover {
    cursor: pointer;
    background: rgb(186, 250, 113);
    background: linear-gradient(90deg, rgba(186, 250, 113, 1) 13%, rgba(71, 151, 252, 1) 50%);
}

.nav {
    display: flex;
    flex-direction: row;
}

.nav .hero-img {
    padding: 3rem 6rem;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    position: relative;
    background-color: var(--white);
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    color: var(--grayish-blue);
}

.navbar ul li:hover {
    cursor: pointer;
    font-weight: 700;
    border-bottom: 3px solid var(--bright-cyan);
}

.btn-toggle i {
    font-size: 4rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
    display: none;
}

.sec-1 {
    display: flex;
    flex-direction: row;
    background-color: var(--very-light-gray);
}

.col-1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 5rem 8rem 5rem 0;
    margin: 4rem;
    gap: 2rem;
}

.col-1 h1 {
    font-size: 3rem;
    font-weight: 300;
}

.col-2 {
    width: 50%;
    height: 100vh;
    background: url(../images/bg-intro-desktop.svg) no-repeat;
    background-size: cover;
}

.sec-2 .parts {
    display: flex;
    flex-direction: column;
    /* height: 80vh; */
    background-color: var(--light-grayish-blue);
    padding: 6rem 8rem;
}

.sec-2 .parts .part-1 {
    width: 45%;
    gap: 2rem;
    padding-bottom: 5rem;
}

.sec-2 .parts h2 {
    font-size: 3rem;
    font-weight: 200;
    padding-bottom: 2rem;
}

.sec-2 .part-2 {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.sec-2 .part-2 h3 {
    padding: 2rem 0;
    font-size: 1.5rem;
    font-weight: 300;
}

.sec-3 {
    display: flex;
    flex-direction: column;
    padding: 6rem 8rem;
    background-color: var(--very-light-gray);
}

.sec-3 h2 {
    font-size: 3rem;
    font-weight: 200;
    padding-bottom: 2rem;
}

.sec-3 .articles {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.sec-3 .articles img {
    width: 100%;
    height: 14rem;
}

.sec-3 .article-1,
.article-2,
.article-3,
.article-4 {
    width: 50%;
    height: 34rem;
    padding: 1.25rem;
    background-color: var(--white);
}

.sec-3 .articles .author {
    font-size: 0.8rem;
    padding: 1rem 0;
    color: var(--grayish-blue);
}

.sec-3 .articles h6 {
    font-size: 1.5rem;
    font-weight: 400;
    padding-bottom: 1.5rem;
    color: rgba(0, 0, 0, 0.77);
}

.sec-3 .articles h6:hover {
    color: var(--bright-cyan);
    cursor: pointer;
}

.sec-3 .articles p {
    color: var(--grayish-blue);
}

.sec-4 {
    display: flex;
    flex-direction: row;
    background-color: var(--dark-blue);
    height: 40vh;
}

.sec-4 .social {
    padding: 2rem 8rem;
    justify-content: space-around;
}

.sec-4 .social img {
    padding-bottom: 6rem;
    filter: brightness(1%) invert();
}

.sec-4 .social .social-icons {
    display: flex;
    gap: 1rem;
}

.sec-4 .social .social-icons img:hover {
    cursor: pointer;
    color: var(--bright-cyan);
}

.sec-4 .info {
    display: flex;
    flex-direction: row;
    gap: 6rem;
    padding: 4rem 6rem;
}

.sec-4 .info ul li {
    list-style: none;
    color: var(--grayish-blue);
    line-height: 2rem;
    font-size: 1rem;
}

.sec-4 .info ul li:hover {
    color: var(--bright-cyan);
    cursor: pointer;
}

.sec-4 .rights {
    padding: 3rem 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sec-4 .rights p {
    color: var(--grayish-blue);
}

/* Responsiveness */

@media screen and (max-width: 760px) {
    p {
        font-size: 2rem;
    }

    .btn {
        height: 4rem;
        width: 18rem;
        font-size: 21px;
    }

    .nav {
        justify-content: space-between;
    }

    .hero-img img {
        width: 16rem;
        height: 3rem;
    }

    .navbar {
        height: 100vh;
        flex-direction: column;
        display: none;
        justify-content: space-between;
    }

    .mobile {
        display: flex;
    }

    .navbar ul {
        flex-direction: column;
    }

    .btn-toggle i {
        display: block;
    }

    main {
        display: flex;
        flex-direction: column;
    }

    .sec-1 {
        flex-direction: column-reverse;
    }

    .col-1 {
        width: 100%;
        padding: 2rem;
        margin: 0;
        align-items: center;
    }

    .col-1 h1 {
        font-size: 5rem;
    }

    .col-2 {
        height: 70vh;
        background: url(../images/bg-intro-mobile.svg) no-repeat center;
        background-size: 760px 1200px;
    }

    .sec-2 .parts {
        padding: 5rem 2rem;
        align-items: center;
    }

    .sec-2 .parts .part-1 {
        width: 100%;
    }

    .sec-2 .parts .part-1 h2 {
        font-size: 5rem;
        text-align: center;
    }

    .sec-2 .part-2 {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .sec-2 .part-2 img {
        height: 8rem;
        width: 8rem;
    }

    .sec-2 .part-2 h3 {
        font-size: 3rem;
    }
    .sec-3{
        align-items: center;
        padding: 5rem 3rem;
    }

    .sec-3 .articles {
        flex-direction: column;
        gap: 4rem;
    }
    .sec-3 h2{
        font-size: 5rem;
        padding-bottom: 3rem;
    }

    .sec-3 .article-1,
    .article-2,
    .article-3,
    .article-4{
        width: 100%;
        height: 46rem;
    }
    .sec-3 .articles img{
        height: 24rem;
    }
    .sec-3 .articles h6{
        font-size: 2.5rem;
    }
    .sec-3 .articles .author{
        font-size: 1.5rem;
    }
    .sec-4{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        align-items: center;
    }
    .sec-4 .social .social-img{
        width: 16rem;
        height: 5rem;
        padding: 1rem;
        margin: 3rem 0;
    }
    .sec-4 .social .social-icons{
        gap: 3rem;
    }
    .sec-4 .social .social-icons img{
        width: 3rem;
        height: 9rem;
    }
    .sec-4 .info{
        flex-direction: column;
        gap: 0;
        padding: 4rem 1rem;
    }
    .sec-4 .info ul li{
        color: var(--white);
        font-size: 1.75rem;
        line-height: 3.5rem;
    }
    .sec-4 .rights{
        gap: 3rem;
        align-items: center;
    }
}